*.egg-info
*.pyc
*.so
venv
.venv*
.env
.coverage*
.direnv
.envrc
.hypothesis
.mypy_cache
.pytest_cache
MANIFEST
__pycache__
build
dist

*.prof

# In TODOs..
scripts/simulate_updates_throttle.py
examples/echo_bot_throttle.py
examples/echo_bot_command_trigger.py
scripts/simulate_updates_throttle_minimal.py
